# API (Python/Django)
DEBUG=1
SECRET_KEY=your-secret-key-here
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# Postgres
POSTGRES_DB=cats_database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your-password
DB_HOST=cats_database
DB_PORT=5432
