# API (Python/Django)
DEBUG=1
SECRET_KEY=your-secret-key-here
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# Node API
DATABASE_URL="postgresql://POSTGRES_USER:POSTGRES_PASSWORD@DB_HOST:DB_PORT/POSTGRES_DB"

# Postgres
POSTGRES_DB=cats_database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your-password
DB_HOST=cats_database
DB_PORT=5432
