[submodule "cats-go-api"]
	path = cats-go-api
	url = https://github.com/Ivan-Busani/cats-go-api.git
[submodule "cats-java-api"]
	path = cats-java-api
	url = https://github.com/Ivan-Busani/cats-java-api.git
[submodule "cats-python-api"]
	path = cats-python-api
	url = https://github.com/Ivan-Busani/cats-python-api.git
[submodule "cats-web-app"]
	path = cats-web-app
	url = https://github.com/Ivan-Busani/cats-web-app.git
[submodule "cats-android-app"]
	path = cats-android-app
	url = https://github.com/Ivan-Busani/cats-android-app.git
[submodule "cats-node-api"]
	path = cats-node-api
	url = https://github.com/Ivan-Busani/cats-node-api.git
[submodule "cats-kotlin-api"]
	path = cats-kotlin-api
	url = https://github.com/Ivan-Busani/cats-kotlin-api.git
